





{% extends 'frontend/shared/index.html' %}
{% block title %}Password Reset Confirm{% endblock %}
{% load static %}
{% block content %}
{% include 'frontend/partials/_header.html' %}
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <ol>
                <li><a href="{% url 'product:product_and_category' %}">Home</a></li>
                <li>Password Reset Confirm</li>
            </ol>
        </div>

    </div>
</section>
<section>
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <div class="login-card">
                  {% if validlink %}
                    <form class="theme-form login-form" method="post">
                    <h4>Password Reset Confirm</h4>
                  
          <div class="alert alert-danger" role="alert">
            It looks like you clicked on an invalid password reset link. Please try again.
          </div>

                        {% csrf_token %}
                        {% include 'dashboard/includes/form.html' %}
                       
                        <div class="form-group">
                          <button type ="submit" class="btn btn-success btn-block">Change Password</button>
                        </div>
                    </form>
                    {% else %}
                    <div class="form-group">
                      <a href="{% url 'password_reset' %}" class="btn btn-success btn-block">Request a new password reset link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}