<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div>
        Hi there,

        Someone requested a password reset for the email address {{ email }}.
        Follow the link below:
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

        If you forgot your username, your username: {{ user.username }}


        If you didn't click the link above, please copy and paste the URL
        Instead in a new browser window

        If you received this email in error, another user may have logged in
        Your email address was incorrect when trying to reset your password. If you don't do this
        Start the application, you don't need to do anything else and you can feel free
        Ignore this email

        Thanks,
    </div>
</body>

</html>