        <!-- ======= Footer ======= -->
        <footer id="footer">

            <div class="footer-top">
              <div class="container">
                <div class="row">
        
                  <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>jiZeng</h3>
                    <p>
                     Pm 401,Unit715 <br>
                      Jiangdong St, Yiwu City, Zhejiang Province<br>
                       <br><br>
                      <strong>Phone:</strong> +86 1582 183 9875<br>
                      <strong>Email:</strong> diana@top-carbon.com  graphite.jessiezxr518@gmail.com<br>
                    </p>
                  </div>
        
                  <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                      <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
                      <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
                      <li><i class="bi bi-chevron-right"></i></i> <a href="#">Services</a></li>
                      <li><i class="bi bi-chevron-right"></i></i> <a href="#">Terms of service</a></li>
                      <li><i class="bi bi-chevron-right"></i></i> <a href="#">Privacy policy</a></li>
                    </ul>
                  </div>
        
                  <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                      <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
                      <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
                      <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
                      <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
                      <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                  </div>
        
                  <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Join Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    {% include 'frontend/partials/_subscribe.html' %}
                 
                  </div>
        
                </div>
              </div>
            </div>
        
             <div class="container d-md-flex py-4"> 
        
               <div class="me-md-auto text-center text-md-start"> 
                 <div class="copyright">
                  &copy; Copyright <strong><span>Carbon</span></strong>. All Rights Reserved
                </div> 
                <div class="credits">
                 
                   Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div> 
              </div> 
  
               <div class="social-links text-center text-md-right pt-3 pt-md-0 py-4">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="youtube"><i class="bi bi-youtube"></i></a>
              </div>
            </div> 
          </footer>  
  
          <!-- End Footer-->
        
        
     <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  