

		<section>         
			<div class="container-fluid p-0">
			  <div class="row">
				<div class="col-12">
				  <div class="login-card">
					<form class="theme-form login-form">
					  <h4>Login</h4>
					  <h6>Welcome back! Log in to your account.</h6>
					  <div class="form-group">
						<label>Email Address</label>
						<div class="input-group"><span class="input-group-text"><i class="bi bi-envelope"></i></span>
						  <input class="form-control" type="email" required="" placeholder="Test@gmail.com">
						</div>
					  </div>
					  <div class="form-group">
						<label>Password</label>
						<div class="input-group"><span class="input-group-text"><i class="bi bi-lock"></i></span>
						  <input class="form-control" type="password" name="login[password]" required="" placeholder="*********">
						  <div class="show-hide"><span class="show">                         </span></div>
						</div>
					  </div>
					  <div class="form-group m-5">
						<button class="btn btn-success btn-block" type="submit">Sign in</button>
					  </div>
					  <br>
					  <div class="form-group mt-4">
						<div class="checkbox">
						  <input id="checkbox1" type="checkbox">
						  <label for="checkbox1">Remember password</label>
						</div><a class="link" href="forget-password.html">Forgot password?</a>
					  </div>
					
					  <div class="login-social-title">                
						<h5>Sign in with</h5>
					  </div>
					  <div class="form-group">
						<ul class="login-social">
						  <li><a href="../../login.html" target="_blank"><i class="bi bi-google"></i></a></li>
	
						</ul>
					  </div>
					  <p>Don't have account?<a class="ms-2" href="log-in.html">Create Account</a></p>
				
					</form>
				  </div>
				</div>
			  </div>
			</div>
		  </section>

      